{
  "presets": [
    ["@babel/preset-env", {
      "loose": false,
      "useBuiltIns": "entry",
      "targets": {
        "browsers": [
          "ie >= 8",
          "Chrome >= 21",
          "Firefox >= 1",
          "Edge >= 13",
          "last 3 versions"
        ]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "Nerv.createElement"
    }],
    "babel-plugin-transform-es3-member-expression-literals",
    "babel-plugin-transform-es3-property-literals"
  ]
}